body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  background-color: #edede9;
  border: solid #d6ccc2 2px;
  border-radius: 5%;
  border-top-color: #f1faee;
  border-bottom-color: #f1faee;
  margin: 20px;
}
article a{
  color: #d3ad86;
  display: block;
  padding: 20px;
}
article a:hover{
  text-decoration: none;
}
article a:visited{
  color: #886644;
}
table{
  padding: 1px;
  border: solid #d3ad86 2px;
  margin: 20px;
}
thead{
  color: #886644;
  padding: 1px;
}